<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Final_Project_3amal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Dashboard.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
          rel="stylesheet" />
</head>
<body>
    <!-- Sidebar -->
    <div class="dashboard-sidebar d-flex flex-column p-3">
        <a href="/"
           class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <div class="logo">
                <img src="~/Images/logo.png" alt="Logo" />
                <span class="fs-4">Dashboard</span>
            </div>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a asp-action="Catygory"  asp-controller="Dashboard" class="nav-link">Category </a>
            </li>
            <li>
                <a asp-action="Services" class="nav-link"> Services </a>
            </li>
            <li>
                <a asp-action="Users" class="nav-link"> Users </a>
            </li>
            <li>
                <a asp-action="Providers" class="nav-link"> Providers </a>
            </li>
            <li>
                <a asp-action="Admins" class="nav-link"> Admin </a>
            </li>
        </ul>
        <hr />
        <form asp-controller="Login" asp-action="LogoutDashboard" class="logout" method="post">
            <button type="submit" style="background-color: transparent; border: none" class="nav-link text-white">Logout</button>
        </form>
    </div>

    <!-- Content -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderBody()


    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>